<div class="half-section half-section--left text-left">

    <h2>Matt Chapman</h2>
    <h3>Senior Drupal Developer</h3>
    <h4>Inviqa</h4>
    <h6 class="twitter-icon">
        <a href="https://twitter.com/chapabu">
            @chapabu
        </a>
    </h6>

</div>

<div class="half-section half-section--right">

    <img class="no-border"
        src="/resources/inviqalogo.svg"
 />

</div>


<aside class="notes">
    About me
</aside>

<article></article>
