<ul>
  <li>
    Derived from test driven development...
  </li>
  <li class="fragment">
    ...except it specifies that the desired behavior are requirements set by
    the business.
  </li>
  <li class="fragment">
    The business being the product owner of the software.
  </li>
</ul>

<aside class="notes">

</aside>
