<h2>Behat is not for unit/spec testing</h2>

<ul>
  <li class="fragment">Outside -> in</li>
  <li class="fragment">BDD doesn't care <i>how</i> stuff works, just that it meets business requirements</li>
  <li class="fragment">Does NOT replace PHPUnit/PHPSpec</li>
</ul>
