<h2>Sounds great! But Drupal...</h2>
<h3 class="fragment">"BUT DRUPAL" NOTHING!</h3>

<div class="fragment">
    <img class="no-border"
        width="200px"
        src="/resources/beehat-drupalicon.png" />
    <a style="display:block"
        href="https://drupal.org/projects/drupalextension">
      https://drupal.org/project/drupalextension
        </a>
</div>
