<h3>Drupal specific step definitions</h2>

<pre class="fragment"><code class="gherkin">Given I am logged in as a user with the "Blogger" role</code></pre>
<pre class="fragment"><code class="gherkin">And I am creating a "blog" node</code></pre>
<pre class="fragment"><code class="gherkin">Then I should see the success message containing "created"
</code></pre>
