<h2>FeatureContext example feature</h2>

<pre><code class="gherkin">
  Scenario: Newly created Office should be added to the footer queue
    Given I am logged in as a user with the "Site administrator" role
    When I add a new office
    Then The office should be added to the footer queue
    And I should see the success message containing "was added [...]"
</code></pre>
