<h2>What is a FeatureContext?</h2>

<h3>A PHP class that allows you to...</h3>

<ul>
  <li class="fragment">define new steps specific to your site/feature</li>
  <li class="fragment">access the full Drupal API (backend depending)</li>
  <li class="fragment">keep your tests in code</li>
  <li class="fragment">make test code reusable</li>
</ul>
