<h2>FeatureContext example step</h2>

<pre><code class="php">
/**
 * @Then The office should be added to the footer queue
 */
public function theOfficeShouldBeAddedToTheFooterQueue()
{
    if (empty($this->lastOfficeId)) {
        throw new EntityIdNotSetException();
    }

    $queue = entityqueue_subqueue_load('footer_office_listing');
    $queue_items = array_column($queue->eq_office['und'], 'target_id');

    if (!in_array($this->lastOfficeId, $queue_items)) {
        throw new EntityNotFoundInQueueException();
    }
}
</code></pre>
