<h2>FeatureContext example</h2>

<pre><code class="php">
/**
 * @When I add a new office
 */
public function iAddANewOffice()
{
    $this->visitPath(Office::$addUrl);
    $page = $this->getSession()->getPage();
    $officeForm = $page->findById('eck-entity-form-add-office-office');
    // [...]
    $officeForm->submit();
    $createdOffice = $this->getLastEntityCreated('office');
    $this->lastOfficeId = $createdOffice->id;
    $this->offices[$createdOffice->id] = $createdOffice;
}
</code></pre>
