<h2>Gherkin?</h2>

<ul>
  <li class="fragment">Framework agnostic <span class="fragment">(to a point)</span>
    <ul class="fragment">
      <li>Cucumber + CucumberJS</li>
      <li>JBehave</li>
      <li>Behat</li>
    </ul>
  </li>
  <li class="fragment">Written for people, not machines</li>
  <li class="fragment">"Invisibly" converted into tests</li>
</ul>
