<h2>Breakdown</h2>
<div class="half-section half-section--left">

  <dl class="fragment">
    <dt>Feature</dt>
    <dd>An overview of the feature under test</dd>
  </dl>

  <dl class="fragment">
    <dt>Scenario</dt>
    <dd>A block describing the scenario to be tested</dd>
  </dl>

</div>

<div class="half-section half-section--right">

  <dl class="fragment">
    <dt>Given</dt>
    <dt>Then</dt>
    <dt>When</dt>
    <dt>And</dt>
    <dd>Scenario actions</dd>
  </dl>


</div>
