<h2>Overcomplication</h2>

<pre><code class="gherkin">
  Scenario: I want to create a blog post
  Given I am logged in as a user with the "Blogger" role
  Then I should be able to create a blog post

</code></pre>

<img class="fragment no-border" src="/resources/better.gif" />
