<h2>Overcomplication</h2>

<pre><code class="gherkin">
  Scenario Outline: I want to create a blog post
    Given I am logged in as a user with the "Blogger" role
    When I visit "node/add/blog"
    And I fill in "field" with "text"
    And I click "Save"
    Then I should see the success message "Dummy Post"


  Examples:

    | Field               | Text           |
    | title               | Dummy post     |
    | field_subtitle[und] | Dummy subtitle |

</code></pre>
