<h2>Overtesting</h2>

<ul>
  <li>You don't need to test what Drupal already tests</li>
  <ul class="fragment">
    <li>Don't test if you can save a node; check you can access <code>node/add/blog</code></li>
    <li>Don't test you can delete a node; check you can access <code>node/1/delete</code></li>
  </ul>
</ul>

<img class="fragment no-border" src="/resources/already-done.gif" />
