<h3>Tasty goodness to use in your FeatureContext</h3>

<ul>
  <li class="fragment">
    <pre><code class="php">$this->createNode()</code></pre>
  </li>
  <li class="fragment">
    <pre><code class="php">$this->login()</code></pre>
  </li>
  <li class="fragment">
    Full access to the Drupal API
  </li>
  <li class="fragment">
    wait...
  </li>
  <li class="fragment">
    What's a FeatureContext?
  </li>
</ul>
