<h2>Useful example...</h2>
<pre><code class="gherkin">
  Feature: Blog listing
    In order to drive people towards the website
    Users should be able to access a blog listing

    Scenario: The blog listing page shows recent posts
      Given I have 10 blog posts
      When I visit the blog listing page
      Then I should see 10 blog posts listed

</code></pre>
