<h2>What is Behat?</h2>

<ul>
    <li class="fragment">A PHP tool to read your Gherkin features</li>
    <li class="fragment">Written by Konstantin Kudryashov...</li>
    <ul>
        <li class="fragment">(Who now also works for Inviqa)</li>
    </ul>
    <li class="fragment">"Bridges" them to PHP and runs them via...</li>
    <ul>
        <li class="fragment">Mink</li>
        <li class="fragment">Selenium (WebDriver)</li>
        <li class="fragment">Symfony Browserkit</li>
    </ul>
</ul>
