<h2>Writing a good scenario</h2>

<ul>
  <li class="fragment">Keep it simple</li>
  <li class="fragment">Use your FeatureContext</li>
  <li class="fragment">Write your features for the client, not the developer</li>
  <li class="fragment">Write your features for the client, not the developer</li>
  <li class="fragment">Really...describe the behaviour for the client!</li>
</ul>
