////
// LAYOUT
////

.half-section {
    width: 50%;
}

.half-section--left {
    float: left;
}

.half-section--right {
    float: right;
}

.twitter-link {
  top: 10px;
  right: 10px;
  position: absolute !important;
}

////
// TYPOGRAPHY
////

.text-left {
    text-align: left;
}

////
// IMAGE HELPERS
////

.no-border {
    border: 0 !important;
    box-shadow: none !important;
}

.inline-image {
    display: inline-block;
}

.twitter-icon {

    position: relative;
    padding-left: 60px !important;

    &:before {
        content: ' ';
        background-image: url("/resources/twitter.png");
        background-size: cover;
        display: inline-block;
        height: 60px;
        width: 60px;
        position: absolute;
        left: 0;
        top: -10px;
    }

}
